# .gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Virtual environment
venv/

# Data
data/raw/
data/processed/
*.db
*.tsv
*.zip

# Streamlit & logs
.streamlit/
*.log

# Test cache
.pytest_cache/
.cache/

# IDE
.vscode/
.idea/
